<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/forms.css}" />
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <title>Login</title>
</head>
<body>
<header class="header">
  <div class="fisrt-part-header">
    <div class="logo">
      <img src="/images/logo.png" alt="ZooShop Logo" />
    </div>
  </div>
  <div class="second-part-header">
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/cart">Your Cart</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="login-page-container">
  <div class="form-container">
    <form action="/login" method="post">
      <h2>Login</h2>
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Login">
    </form>
    <h2>no account? <a href="/register">register</a></h2>
  </div>

</div>
<footer class="footer">
  <div class="container">
    <p>Performed by a student of the IKBO-16-22 group, Abdeeva A.R.</p>
  </div>
</footer>
</body>
</html>
